/* animations */
@keyframes blink-warning {
	70% {
		color: @nord_light;
	}

	to {
		color: @nord_light;
		background-color: @warning;
	}
}
@keyframes blink-critical {
	70% {
		color: @nord_light;
	}

	to {
		color: @nord_light;
		background-color: @critical;
	}
}

/* colours */
/* https://github.com/Linus789/wl-clip-persist/issues/3 */
/* https://www.sessions.edu/color-calculator/ */
@define-color nord_base_dark #2E3142;
@define-color nord_base_light #3b4370;
@define-color nord_base_neutral #433a52;
/*@define-color nord_base_dark #434C5E;
@define-color nord_base_light #546484;*/
@define-color nord_light #D8DEE9;
@define-color warning #EBCB8B;
@define-color critical #BF616A;

/* reset all styles */
* {
	border-style: none;
	border-radius: 6px;
	min-height: 0;
	margin: 0.2em 0.3em 0.2em 0.3em;
}

/* whole bar style */
#waybar {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	color: @nord_light;
	font-family: "Ubuntu";
	font-size: 14px;
	font-weight: bold;
}

/* modules */
#clock,
#language,
#idle_inhibitor,
#mpris,
#workspaces,
#cpu,
#temperature,
#memory,
#battery,
#pulseaudio,
#bluetooth,
#custom-wlan,
#network.eth,
#tray {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

/* modules that should blink */
#temperature,
#memory,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* critical modules */
#cpu.critical,
#temperature.critical,
#memory.critical,
#battery.critical {
	color: @critical;
}

/* blinking critical modules */
#temperature.critical,
#memory.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* warning */
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	background: @warning;
	color: @nord_base_dark;
}

/* blinking warning modules */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

/* actual styling for modules */
#clock,
#language {
	background: @nord_base_neutral;
	color: @nord_light;
	padding: 0 0.6em;
}

#idle_inhibitor {
	background: @nord_base_dark;
	padding: 0 0.6em;
}
#idle_inhibitor.activated {
    background: @nord_base_light;
}

#mpris {
	padding: 0 0.4em;
}

#workspaces {
	margin-right: 10px;
}

#workspaces button {
	background: none;
	color: gray;
	opacity: 1;
	font-weight: bold;
	padding: 0.2em 0.4em;
}
#workspaces button.active {
	background: none;
	color: white;
	opacity: 1;
	padding: 0.2em 0.4em;
}
#workspaces button.urgent {
	color: #C9545D;
	border-color: #C9545D;
	opacity: 1;
}
#workspaces button:hover {
    opacity: 0.6;
}

#cpu,
#temperature {
	background: @nord_base_neutral;
	color: @nord_light;
	padding: 0 0.2em;
}
#cpu.critical,
#temperature.critical {
	color: @critical;
}

#memory {
	background: @nord_base_neutral;
}

#battery,
#pulseaudio {
	background: @nord_base_neutral;
	color: @nord_light;
}

#pulseaudio.muted {
	background: @critical;
}

#bluetooth.disabled,
#network.eth,
#network.eth.disconnected,
#custom-wlan.off,
#custom-wlan.disconnected {
	background: @nord_base_dark;
	padding: 0 0.4em;
}

#bluetooth,
#bluetooth.on,
#bluetooth.off,
#network.eth.ethernet,
#network.eth.linked,
#custom-wlan.connected {
	background: @nord_base_light;
	padding: 0 0.4em;
}

#tray {
	background: @nord_base_dark;
}
